<div class="banner">
  <div class="row banner-content">
    <div class="col-md-10">
      <button id="modal-btn" class="btn">
        <img src="https://vectr.com/tmp/a2i6AFfxa6/c1QKLI7T.svg?width=350&height=100&select=c1QKLI7Tpage0">
      </button>
    </div>

      <img class="question" src="https://cdn4.iconfinder.com/data/icons/defaulticon/icons/png/256x256/help.png">

  </div>
</div>
