<div class="banner">
  <div class="row banner-content">
    <div class="col-md-10">
      <button id="modal-btn" class="btn">
        <img src="/logo.svg">
      </button>
    </div>

      <img class="question" src="https://cdn4.iconfinder.com/data/icons/defaulticon/icons/png/256x256/help.png">

  </div>
</div>
