<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Say It!</title>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>

<body class="container">

  <ul class="quotes">
    <% for(var i=0; i<quotes.length; i++) {%>
      <li class="quote">
        <span>
          <%= quotes[i].name %>
        </span>
        <span>
          <%= quotes[i].quote %>
        </span>
      </li>
      <% } %>
  </ul>

  <form action="/quotes" method="POST">
    <input type="text" placeholder="name" name="name">
    <input type="text" placeholder="quote" name="quote">
    <button type="submit">Submit</button>
  </form>

  <footer>
    <p class="text-center text-muted">© Copyright 2018</p>
  </footer>
</body>

</html>
