<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Say It!</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/necolasreset.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/main.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body class="container push">

  <header>
    <% include ../partials/header %>
  </header>

  <div>
    <form class="say-form" id="say" action="/say" method="POST">

      <textarea form="say" class="form-control" id="say-input" rows="5" placeholder="Say something !" name="say" autofocus></textarea>

      <button class="btn btn-primary" type="submit">Submit</button>

    </form>
  </div>
  <div>
    <% for(var i=0; i<says.length; i++) {%>

      <div class="say-box">
        <p class="say-text"><%= says[i].say %></p>
      </div>

    <% } %>
  </div>

  <footer class="push">
    <span class="text-center text-muted">Jeremy Leitmeyer © Copyright 2018</span>
  </footer>
  
  <script src="js/main.js"></script>
</body>

</html>
